.truncate {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-nowrap {
    table-layout:fixed;
}


.table-nowrap td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
